<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
    <link rel="stylesheet" href="css/style-categories.css"></link>
  </head>
  <!-- EN CONSTRUCCION... -->
  <body>
    <!-- HEADER -->
    <header class="main-header"><%- include("partials/header") %></header>
    <!-- &&&& -->
    <!-- MAIN -->
    <main class="main-categories">
        <main class="main-sections">
            <section>
              <h3 class="main-section-title">Productos de la categoría: <%= category.name %></h3>
              <div class="category-articles">
                <!-- ############# -->
                <% for (let i = 0; i<=10; i++) { %> 
                    <%- include("partials/article", { product : category.products[i]}) %>
                <% } %>         
                <!-- ############# -->
              </div>
            </section>
    </main>
    <!-- &&&& -->
    <!-- FOOTER -->
    <footer class="main-footer"><%- include("partials/footer") %></footer>
    <!-- &&&& -->
  </body>
</html>
