<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
        <link rel="stylesheet" href="/css/style-products.css">
        </link>
</head>

<body>
    <!-- HEADER -->
    <header class="main-header">
        <%- include("partials/header") %>
    </header>
    <!-- &&&& -->
    <!-- MAIN -->
    <main>
        <div class="form-product-create">
            <h3 class="form-create-title"> Cargá un nuevo producto!</h3>
            <form action="/products/" method="POST" enctype="multipart/form-data">
                <div class="div-create-forms">
                    <!-- Category -->
                    <!-- <div class="formularios-create">
                        <label for="category" class="form-label-create">Categoria</label>
                        <select id="category" name="category_id" class="form-input-create">
                        <option value="" disabled selected>- Seleccione la categoria -</option>
                          <% categories.forEach(category => { %>
                          <option value="<%= category.id %>"><%= category.name %></option>
                          <% }); %></select>
                    </div> -->
                    <!--  Category -->
                    <div class="formularios-create">
                        <label for="category" class="form-label-create">Categoria</label>
                        <select id="category" name="category_id" class="form-input-create">
                        <option value="" disabled selected>- Seleccione la categoria -</option>
                          <% categories.forEach(category => { %>
                          <option value="<%= category.id %>"><%= category.name %></option>
                          <% }); %></select>
                    </div>
                    <div class="formularios-create">
                        <label for="subcategory" class="form-label-create">Subcategoria</label>
                        <select id="subcategory" name="subcategory_id" class="form-input-create">
                        <option value="" disabled selected>- Seleccione la Subcategoria -</option>
                          <% subcategories.forEach(subcategory => { %>
                          <option value="<%= subcategory.id %>"><%= subcategory.name %></option>
                          <% }); %></select>
                    </div>
                    <!-- Brand -->
                    <div class="formularios-create">
                        <label for="brand" class="form-label-create">Marca</label>
                        <select id="brand" name="brand_id" class="form-input-create">
                        <option value="" disabled selected>- Seleccione la marca -</option>
                          <% brands.forEach(brand => { %>
                          <option value="<%= brand.id %>"><%= brand.name %></option>
                          <% }); %></select> 
                    </div>
                    <!-- Price -->
                    <div class="formularios-create">
                        <label for="nonvatPrice" class="form-label-create">Precio (sin IVA)</label>
                        <input class="form-input-create" type="number" name="nonvatPrice" id="nonvatPrice"
                            placeholder="Ej: 2.785" />
                    </div>
                    <!-- vat -->
                    <div class="formularios-create">
                        <label for="vat" class="form-label-create">IVA</label>
                        <input class="form-input-create" type="number" name="vat" id="vat"
                            placeholder="Ej: 21.0" />
                    </div>
                    <!-- Discount -->
                    <div class="formularios-create">
                        <label for="discount" class="form-label-create">Descuento</label>
                        <input class="form-input-create" type="number" name="discount" id="discount"
                            placeholder="Ej: 15" />
                    </div>
                    <!-- Stock -->
                    <div class="formularios-create">
                        <label for="stock" class="form-label-create">Stock inicial</label>
                        <input class="form-input-create" type="number" name="stock" id="stock"
                            placeholder="Ej: 100" />
                    </div>
                    <!-- Stock minimo -->
                    <div class="formularios-create">
                        <label for="stock_min" class="form-label-create">Stock minimo</label>
                        <input class="form-input-create" type="number" name="stock_min" id="stock_min"
                            placeholder="Ej: 20" />
                    </div>
                    <!-- Image -->
                    <div class="formularios-create">
                        <label for="image" class="form-label-create">Imagen</label>
                        <input type="file" id="image" name="image"
                            class="form-input-create">
                    </div>
                    <!-- Description -->
                    <div class="formularios-create-description">
                        <label for="description" class="form-label-create">Descripción</label>
                        <textarea name="description" id="description" class="form-input-create-description"></textarea>
                    </div>
                    <div class="formularios-create-button">
                        <input class="button-create" type="submit" value="Crear producto" />
                    </div>
                </div>
            </form>
        </div>
    </main>
    <!-- &&&& -->
    <!-- FOOTER -->
    <footer class="main-footer">
        <%- include("partials/footer") %>
    </footer>
    <!-- &&&& -->
</body>

</html>