<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
        <link rel="stylesheet" href="/css/style-products.css">
        </link>
</head>
<!-- <div class="top-header-top">Materiales eléctricos</div> -->

<body>
    <!-- HEADER -->
    <header class="main-header">
        <%- include("partials/header") %>
    </header>
    <!-- &&&& -->
    <!-- MAIN -->
    <main class="main-product">
        <div class="product-figure-info">
            <div class="product-figure">
                <img src="/images/products/<%= product.image %>" alt="img-<%= product.subcategory %>.jpg">
            </div>
            <div class="product-info">
                <h3 class="product-info-name">
                    <%= product.subcategory %>
                </h3>
                <h5 class="product-info-brand">
                    <%= product.description %>
                </h5>
                <p class="product-info-price"><b>&#x24 <%= product.nonvatPrice %></b> c/u</p>
                <div class="product-quantity">
                    <label for="quantity">Cantidad:</label>
                    <input type="number" id="quantity" name="quantity" min="1" max="2000">
                </div>
                <br>
                <div class="product-add-to-chart">
                    <button style="width:75%" heigth="25px">Agregar al carrito
                        <i class="fas fa-cart-plus" style="font-size: 20px;"></i>
                    </button>
                </div>
                <br>
                <div>
                    <a class="product-add-to-wishes" href="#">Agregar a mi lista de deseos
                        <i class="fas fa-heart-circle" style="font-size: 20px;"></i>
                    </a>
                </div>
                <br>
                <div class="product-payment-options">
                  <button style="width:75%" heigth="25px">Ver formas de pago
                        <i class="fas fa-credit-card" style="font-size: 20px;"></i>
                    </button>
                </div>
                <br>
                <div class="product-payment-options">
                    <form action="/products/edit/<%= product.id %>" method="GET">
                    <button style="width:75%" heigth="25px">Editar producto
                    </button>
                </div>
                <br>
                <div class="product-payment-options">
                    <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                        <button style="width:75%" heigth="25px">Borrar producto
                        </button>
                    </form>
                </div>
                <br>
                <div class="product-info-uses">
                    <p>Información sobre los posibles usos del producto y sus ventajas</p>
                </div>
            </div>
        </div>
        <div class="product-description">
            <p class="product-full-description">
                <%= product.description %>
            </p>
            <table style="border:0">
                <tr>
                    <td><b>Marca</b></td>
                    <td class="brand">Nombre de la marca</td>
                </tr>
                <tr>
                    <td><b>Modelo</b></td>
                    <td class="model">Nombre del modelo</td>
                </tr>
                <tr>
                    <td><b>Unidad de medida</b></td>
                    <td class="measure-unit">Tipo de unidad de medida</td>
                </tr>
                <tr>
                    <td><b>Atributo 1</b></td>
                    <td class="att-1">Valor del atributo 1</td>
                </tr>
                <tr>
                    <td><b>Atributo 2</b></td>
                    <td class="att-2">Valor del atributo 2</td>
                </tr>
                <tr>
                    <td><b>Atributo 3</b></td>
                    <td class="att-3">Valor del atributo 3</td>
                </tr>
                <tr>
                    <td><b>Atributo 4</b></td>
                    <td class="att-4">Valor del atributo 4</td>
                </tr>
                <tr>
                    <td><b>Atributo 5</b></td>
                    <td class="att-5">Valor del atributo 5</td>
                </tr>
            </table>
        </div>
    </main>
    <!-- &&&& -->
    <!-- FOOTER -->
    <footer class="main-footer">
        <%- include("partials/footer") %>
    </footer>
    <!-- &&&& -->
</body>

</html>