<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
        <link rel="stylesheet" href="/css/style-users.css">
        </link>
</head>
<!-- <div class="top-header-top">Materiales eléctricos</div> -->

<body>
    <!-- HEADER -->
    <header class="main-header">
        <%- include("partials/header") %>
    </header>
    <!-- &&&& -->
    <!-- MAIN -->
    <main>
        <div class="user-form">
            <h2>Detalle del usuario <%= user.name %>
            </h2>
            <div class="profile-user">
                <div class="profile-user-img">
                    <p class="div-create-img"> <img src="/images/users/<%= user.userImage %>" width="100%"></p>
                </div>

                <div class="profile-user-info">
                    <p class="div-create-forms">Nombre: <%= user.name %>
                    </p>
                    <p class="div-create-forms">Apellido: <%= user.lastName %>
                    </p>
                    <p class="div-create-forms">Email: <%= user.email %>
                    </p>
                    <p class="div-create-forms">Nacimiento: <%= user.birthDate %>
                    </p>
                    <div class="div-create-forms">
                        <a href="/users/edit/<%= user.id %>"><button class="edit-button">Editar usuario</button></a>
                    </div>
                    <div class="div-create-forms">
                        <form action="/users/delete/<%= user.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="delete-button">Borrar usuario</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- &&&& -->
    <!-- FOOTER -->
    <footer class="main-footer">
        <%- include("partials/footer") %>
    </footer>
    <!-- &&&& -->
</body>

</html>