<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("partials/head") %>
  <link rel="stylesheet" href="/css/style-users.css"></link>
</head>
<body>
  <!-- HEADER -->
  <header class="main-header">
    <%- include("partials/header") %>
  </header>
  <!-- &&&& -->
  <!-- MAIN -->
  <main class="main-register">
    <!-- REGISTER FORM -->
    <div class="form-register">
      <form action="/users/" method="POST" enctype="multipart/form-data">
        <h3>Registrate</h3>
        <!-- name -->
        <label for="name">Nombre</label>
        <div class="errors">
          <%= locals.errors && errors.name ? errors.name.msg : "" %>
        </div> 
          <input 
            class="controls" 
            type="text" 
            name="name" 
            value="<%= locals.oldData && oldData.name ? oldData.name : "" %>">

        <!-- lastname -->
        <label for="lastname">Apellido</label>
        <div class="errors">
          <%= locals.errors && errors.lastName ? errors.lastName.msg : "" %>
        </div>
          <input 
            class="controls" 
            type="text" 
            name="lastName"
            value="<%= locals.oldData && oldData.lastName ? oldData.lastName : "" %>">
        <!-- birthDate -->
        <label for="birthDate">Nacimiento</label>
        <div class="errors">
          <%= locals.errors && errors.birthDate ? errors.birthDate.msg : "" %>
        </div>
          <input 
            class="controls" 
            type="date" 
            name="birthDate">
        <!-- email -->
        <label for="email">e-mail</label>
        <div class="errors">
          <%= locals.errors && errors.email ? errors.email.msg : "" %>
        </div>
          <input 
            class="controls" 
            type="email" 
            name="email"
            value=" <%= locals.oldData && oldData.email ? oldData.email : "" %>">
        <!-- password -->
        <label for="password">Contraseña</label>
        <div class="errors">
          <%= locals.errors && errors.password ? errors.password.msg : "" %>
        </div>
          <input 
            class="controls" 
            type="password" 
            name="password">
        <!-- userImage -->
        <div class="formularios-create">
          <label for="userImage" class="form-label-create">Imagen de Perfil:</label>
            <input type="file" id="userImage" name="userImage" class="form-input-create">
        </div>
        <br>
        <!-- conditions -->
        <input type="checkbox" name="conditions">
        <label>Estoy de acuerdo con <a href="#">Terminos y Condiciones</a></label>
        <br>
        <br>
        <!-- submit -->
        <input class="buttons" type="submit" value="Registrar" />
        <p><a href="/users/login">Ya tenes cuenta?</a></p>
      </form>
    </div>
  </main>
  <!-- &&&& -->
  <!-- FOOTER -->
  <footer class="main-footer">
    <%- include("partials/footer") %>
  </footer>
  <!-- &&&& -->
</body>

</html>