<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head") %>
        <link rel="stylesheet" href="/css/style-products.css">
        </link>
</head>
<!-- <div class="top-header-top">Materiales eléctricos</div> -->

<body>
    <!-- HEADER -->
    <header class="main-header">
        <%- include("partials/header") %>
    </header>
    <!-- &&&& -->
    <!-- MAIN -->
    <main class="main-product">
        
        <div class="div-create-forms">
           <h3>Detalle de usuario <%= users.idUser %></h3>
    
                <p class="div-create-forms" >Nombre: <%= users.name %></p> 
                <p class="div-create-forms">Apellido: <%= users.lastname %></p>       
                <p class="div-create-forms">Email: <%= users.email %></p>          
                <p class="div-create-forms">Años: <%= users.years %></p>
            
          
          </div>
    

    </main>
    <!-- &&&& -->
    <!-- FOOTER -->
    <footer class="main-footer">
        <%- include("partials/footer") %>
    </footer>
    <!-- &&&& -->
</body>

</html>