<article>
    <a href="/users/userDetail/<%= user.id %>">
      <img src="/images/users/<%= user.userImage %>" width="360">

    </a>
      <div class="article-name">
        <p class="article-name">Nombre: <%= user.name %></p> 
        <p class="article-name">Apellido: <%= user.lastName %></p>       
        <p class="article-name">Email: <%= user.email %></p>          
        <p class="article-name">Nacimiento: <%= user.birthDate %></p>
      </div>
  </article>
  